    .reviews{
        padding-bottom: 148px;
    }
    .title{
        font-size: clamp(32px, 6.4vw, 80px);
        font-weight: 500;
        margin-bottom: clamp(50px, 7.7vw, 99px);
        color: #373434;    
    }
    .blockReviews{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        width: 100%;
        height: clamp(356px, 34vw, 447px);
        padding-top: clamp(18px, 4.6vw, 59px);
        padding-left: clamp(18px, 4vw, 60px);
        background-color: #F6F6F6;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .itemReviewsBlock{
        display: flex;
        gap: clamp(35px, 4.2vw, 55px);
    }
    .itemReviews{
        width: 50%;
    }
    .fotoAndText{
        display: flex;
        gap: clamp(30px, 3.1vw, 40px);
        padding-bottom: 24px;
    }
    .foto img{
      width: clamp(236px, 23vw, 302px);
      height: auto;
    }
    .text{
        font-size: clamp(24px, 2.1vw, 28px);
        font-weight: 300;
        color: #000000;
        line-height: 100%;
    }
    .name{
        font-size: clamp(24px, 2.5vw, 32px);
        font-weight: 500;
        padding-bottom: 12px;
    }
    .stadt{
        font-size: clamp(20px, 1.8vw, 24px);
        font-weight: 400;
    }
    .bthBlock{
        margin-right: 12px;
        margin-bottom: 20px;
    }
    .prevBtn img{
        transform: rotate(180deg);
    }
   .bthBlock button{
    border: none;
    margin-right: 12px;
    cursor: pointer;
   }


   .dotsContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #333;
}

/* media */
@media (max-width: 850px) {
  /* адаптация под ноутбуки */
    .title{
    font-size: clamp(32px, 8.1vw, 69px);
  }
  .itemReviews{
    width: 100%;
  }
    .blockReviews {
    min-height: clamp(356px, 34vw, 447px); /* вместо height */
    display: flex;
  }
  .blockReviews{
    display: flex;
    align-items: center;
    padding-right: clamp(18px, 4vw, 34px);
  }
  .text{
    max-width: 400px;
  }
  .fotoAndText{
    display: flex;
    align-items: center;
  }
  .bthBlock{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  .reviews{
    padding-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .bthBlock{
    display: none;
  }
  .fotoAndText{
    display: flex;
    flex-direction: column;
  }
  .blockReviews{
    min-height: 540px;
    justify-content: center;
    overflow-x: hidden;
  }
.itemReviewsBlock {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  width: 100%;
}
  .itemReviewsBlock::-webkit-scrollbar {
    display: none;
  }

  .itemReviews {
    padding: 20px;
    scroll-snap-align: start;
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
