    .reviews{
        padding-bottom: 148px;
    }
    .title{
        font-size: clamp(32px, 6.4vw, 80px);
        font-weight: 500;
        margin-bottom: 100px;
        color: #373434;    
    }
    .blockReviews{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        width: 100%;
        height: clamp(356px, 34vw, 447px);
        padding-top: clamp(18px, 4.6vw, 59px);
        padding-left: clamp(18px, 4vw, 60px);
        background-color: #F6F6F6;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .itemReviewsBlock{
        display: flex;
        gap: clamp(35px, 4.2vw, 55px);
        /* justify-content: center; */
        /* align-items: center; */
    }
    .itemReviews{
        width: 50%;
    }
    .fotoAndText{
        display: flex;
        gap: clamp(30px, 3.1vw, 40px);
        padding-bottom: 24px;
    }
    .foto img{
      width: clamp(236px, 23vw, 302px);
      height: auto;
    }
    /* .foto img{
      width: 100%;
      height: auto;
      object-fit: cover;
    } */
    .text{
        font-size: clamp(24px, 2.1vw, 28px);
        font-weight: 300;
        color: #000000;
        line-height: 100%;
    }
    .name{
        font-size: clamp(24px, 2.5vw, 32px);
        font-weight: 500;
        padding-bottom: 12px;
    }
    .stadt{
        font-size: clamp(20px, 1.8vw, 24px);
        font-weight: 400;
    }
    .bthBlock{
        margin-right: 12px;
        margin-bottom: 20px;
    }
    .prevBtn img{
        transform: rotate(180deg);
    }
   .bthBlock button{
    border: none;
    margin-right: 12px;
    cursor: pointer;
   }


/* media */
@media (max-width: 1240px) {
  /* адаптация под ноутбуки */
  /* .title{
    font-size: 70px;
    margin-left: 40px;
  } */
}

@media (max-width: 1199px) {
  /* адаптация под ноутбуки */
}

@media (max-width: 991px) {
  /* планшеты */
}

@media (max-width: 767px) {
  /* телефоны */
}

@media (max-width: 480px) {
  /* очень маленькие телефоны */
}