.hero{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.adaptiv_850px{
  display: none;
}
.img{
    width: 100%;
    height: clamp(775px, 78vw, 975px);
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: center bottom;
}
.hero .content{
      position: absolute;
      top: 1%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1280px;
      padding: 59px 28px 0 28px;
      z-index: 1;
}
.h1{
    font-size: clamp(32px, 6.4vw, 80px);
    font-weight: 500;
    padding-bottom: 34px;
    color: #373434;
}
h2{
    font-size: clamp(24px, 2.5vw, 32px);
    font-weight: 400;
    padding-bottom: 100px;
    color: #373434;
}
.hero .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: clamp(55px, 5.3vw, 68px);
    width: clamp(253px, 27vw, 355px);
    border-radius: 30px;
    background-color: #217526;
    font-size: clamp(20px, 2vw, 26px);
    font-weight: 700;
}
.btn a{
    text-decoration: none;
    color: #F6F6F6;
}
.btn:hover{
    font-size: 27px;
}


/* media */
@media (max-width: 850px) {
  .btn:hover{
    font-size: 20px;
}
  .img{
    display: none !important;
    position: relative;
    width: 100%;
    height: clamp(775px, 78vw, 975px);
    object-fit: contain;
    object-position: center center;
    display: block;
    margin: 0 auto;
  }
  .adaptiv_850px{
    position: relative;
    display: block;
    width: 100%;
    max-width: 850px;
    height: 100vh;
    overflow: hidden;
  }
  .back_oben{
    width: 100%;
    top: 0;
    left: 0;
    height: 60%;
    position: absolute;
  }
  .back_unten{
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
  }
  /* адаптация под ноутбуки */
  .h1{
    padding-top: clamp(62px, 15.7vw, 135px);
  }
}
@media (max-width: 690px) {
  .back_unten{
    object-fit: contain;
  }
}
@media (max-width: 375px) {
  .h1{
    padding-top: 40px;
  }
  h2{
    padding-bottom: 20px;
  }
}