.hero{
    position: relative;
    width: 100%;
    /* max-height: 957px; */
    overflow: hidden;
}
.img{
    /* border-radius: 30px; */
    /* max-width: 1800px; */
    width: 100%;
    /* height: 975px; */
    height: clamp(775px, 78vw, 975px);
    /* object-fit: cover; */
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: center bottom;
}
.hero .content{
      position: absolute;
      top: 1%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1280px;
      padding: 59px 28px 0 28px;
      z-index: 1;
}
.h1{
    font-size: clamp(32px, 6.4vw, 80px);
    font-weight: 500;
    padding-bottom: 24px;
    color: #373434;
}
h2{
    font-size: clamp(24px, 2.5vw, 32px);
    font-weight: 400;
    padding-bottom: 62px;
    color: #373434;
}
.hero .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: clamp(55px, 5.3vw, 68px);
    width: clamp(253px, 27vw, 355px);
    border-radius: 30px;
    /* background-color: #373434; */
    background-color: #217526;
    font-size: clamp(20px, 2vw, 26px);
    font-weight: 700;
}
.btn a{
    text-decoration: none;
    color: #F6F6F6;
}
.hero .btn:hover{
    font-size: 27px;
}


/* media */
@media (max-width: 1240px) {
  /* адаптация под ноутбуки */
  /* .h1{
    font-size: 70px;
    margin: 30px;
  }
  h2{
    font-size: 30px;
    padding-left: 30px;
    margin-bottom: 20px;
  }
  .btn{
    margin-left: 30px;
    font-size: 22px;
  }
  .btn a{
    font-size: 22px;
  } */

}
@media (min-width: 1281px) {
  /* адаптация под ноутбуки */
  /* .img{
    object-fit: cover;
  } */
}
@media (max-width: 1199px) {
  /* адаптация под ноутбуки */
}

@media (max-width: 991px) {
  /* планшеты */
}

@media (max-width: 767px) {
  /* телефоны */
}

@media (max-width: 480px) {
  /* очень маленькие телефоны */
}