.kontakt{
    padding-bottom: 112px;
}
.titleBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 64px;
}
.title{
    font-size: clamp(32px, 6.4vw, 80px);
    font-weight: 500;
    color: #373434;
}
.subTitle{
    font-size: 24px;
    font-weight: 400;
    color: #373434;
}
.kontaktInfoBlock{
    display: flex;
    gap: clamp(40px, 8.6vw, 109px);
}
.telAdresseBlock{
  width: 100%;
}
.telBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-bottom: 28px;
    padding: 28px;
    border-radius: 34px;
    width: 100%;
    max-width: 491px;
    height: clamp(100px, 21vw, 280px);
    background-color: #299230;
}
.telBlock a{
    text-decoration: none;
}
.adresseBlock{

}
.frageBlock{
  width: 100%;
  max-width: 624px;
  margin: 0 auto;
}
.whatsApp a{
    display: flex;
    align-items: center;
    gap: 8px;
}
.whatsAppText{
    font-size: clamp(18px, 1.8vw, 24px);
    font-weight: 400;
    color: #F6F6F6;
}
.telNummer{
    font-size: clamp(18px, 3.5vw, 48px);
    font-weight: 500;
    white-space: nowrap;
    color: #F6F6F6;
}
.oder{
    font-size: 20px;
    color: #F6F6F6;
}
.block2{
    display: flex;
    align-items: center;
    gap: 30px;
}
.tel .text{
    font-size: 20px;
    color: #F6F6F6;
}
.tel{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* adresse */
.adresseBlock{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 28px 28px 50px;
    width: 100%;
    max-width: 491px;
    height: clamp(100px, 21vw, 280px);
    border-radius: 34px;
    background-color: #F6F6F6;
}
.imgBlock a{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}
.imgBlock .text{
    font-size: 20px;
    font-weight: 400;
    color: #373434;
}
.adresseText{
    font-size: clamp(26px, 3vw, 40px);
    font-weight: 500;
    color: #373434;
}
.öffnungszeiten{
    font-size: 20px;
    font-weight: 400;
    color: #373434;
}
.btn{
  display: none;
}
 .btn a{   
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
 }  
.telNummer a {
  text-decoration: none;
  color: #F6F6F6;
}

/* media */
@media (max-width: 850px) {
  /* адаптация под ноутбуки */
    .title{
    font-size: clamp(32px, 8.1vw, 69px);
  }
    .subTitle{
    font-size: clamp(22px, 5vw, 52px);
  }
  .titleBlock{
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(24px, 6vw, 52px);
    padding-bottom: 30px;
  }
  .kontakt{
    padding-bottom: 50px;
}
  .kontaktInfoBlock{
    flex-direction: column;
  }
  .telAdresseBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .telBlock, .adresseBlock{
    max-width: none;
    width: clamp(345px, 88vw, 748px);
    height: clamp(197px, 50vw, 427px);
  }
  .whatsApp{
    display: none;
  }
  .btn{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(305px, 77.7vw, 661px);
    height: clamp(31px, 7.8vw, 67px);
    background-color: #F6F6F6;
    font-size: clamp(14px, 3.5vw, 30px);
    border-radius: 21px;
  }
  .btn a {
    text-decoration: none;
    color: #373434;
  }
  .telBlock{
    display: flex;
    align-items: center;
    gap: 0;
  }
  .tel{
    gap: 0;
  }
  .tel .text{
    font-size: clamp(16px, 4vw, 34px);
  }
  .telNummer{
    font-size: clamp(34px, 8.5vw, 73px);
    margin-top: clamp(20px, 5vw, 43px);
    margin-bottom: clamp(20px, 5vw, 43px);
  }
  .adresseText{
    font-size: clamp(28px, 7vw, 60px);
  }
  .adresseBlock{
    gap: clamp(35px, 8.8vw, 75px);
  }
  .frageBlock{
    max-width: none;
    width: clamp(345px, 88vw, 748px);
  }
}
