.about{
    padding-bottom: clamp(100px, 15vw, 199px);
    padding-top: clamp(50px, 7.8vw, 100px);
}
.title{
    font-size: clamp(32px, 6.4vw, 80px);
    font-weight: 500;
    color: #373434;
    padding-bottom: 52px;
}
.fotoAbout{
  width: 100%;
}
.fotoAbout img{
    width: 100%;
    height: clamp(367px, 48vh, 622px);
    padding-bottom: 24px;
    object-fit: cover;
}
.uterFotoName{
    font-size: clamp(24px, 2.3vw, 30px);
    font-weight: 500;
    padding-bottom: 14px;
    color: #373434;
}
.unterFotoChef{
    font-size: clamp(24px, 2.3vw, 30px);
    font-weight: 400;
    color: #373434;
}
.textBlock{
    display: flex;
    width: 100%;
    gap: clamp(24px, 4.9vw, 63px);
    justify-content: center;
}
.textAbout{
    width: 100%;
    max-width: 624px;
    font-size: clamp(24px, 2.5vw, 32px);
    color: #373434;
    position: relative;
    overflow: hidden;
}
.textAbout p{
  width: 100%;
  max-width: 624px;
  margin-bottom: 10px;
}

.blurBlock{
    width: clamp(200px, 39vw, 500px);
    height: clamp(200px, 39vh, 500px);
    position: absolute;
    left: 50%;
    background: rgba(33, 117, 38, 0.49);
    filter: blur(clamp(100px, 30vw, 745.5px));
}
.firmaName{
  display: inline;
}

@keyframes breathe {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.03); }
}


/* media */
@media (max-width: 900px){
  .firmaName{
    display: block;
  }
}
@media (max-width: 850px) {
  /* адаптация под ноутбуки */
  .title{
    font-size: clamp(32px, 8.1vw, 69px);
  }
  .textBlock{
    flex-direction: column;
    gap: 0;
  }
  .fotoAbout{
    width: 100%;
  }
  .fotoAbout img{
    width: 100%;
    height: auto;
    position: sticky;
    z-index: 10;
  }
  .textAbout{
    font-size: 40px;
    max-width: none;
  }
  .textAbout p{
    max-width: none;
  }
  .uterFotoName{
    font-size: clamp(24px, 6vw, 52px);
    font-weight: 500;
  }
  .unterFotoChef{
    font-size: 35px;
    padding-bottom: clamp(34px, 8.5vw, 73px);
  }
  .fadeInImage {
  animation: fadeIn 1s ease-out forwards, breathe 4s ease-in-out infinite;
}
}

@media (max-width: 500px) {
  .textAbout{
    font-size: 22px;
  }
  .uterFotoName{
    padding-bottom: 0;
  }
  .unterFotoChef{
    font-size: 18px;
    font-weight: 500;
  }
}

