.about{
    padding-bottom: 199px;
    padding-top: 100px;
}
.fotoBlock{

}
.title{
    font-size: 80px;
    font-weight: 500;
    color: #373434;
    padding-bottom: 52px;
}
.fotoAbout img{
}
.fotoAbout img{
    width: 537px;
    height: 622px;
    padding-bottom: 24px;
    object-fit: cover;
}
.uterFotoName{
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 14px;
    color: #373434;
}
.unterFotoChef{
    font-size: 28px;
    font-weight: 400;
    color: #373434;
}
.about .textBlock{
    display: flex;
    gap: 63px;
    /* background: rgba(33, 117, 38, 0.49);
    filter: blur(745.5px); */
}
.textAbout{
    font-size: 28px;
    color: #373434;
    position: relative;
    overflow: hidden;
}

.blurBlock{
    height: 500px;
    width: 500px;
    position: absolute;
    left: 50%;
    background: rgba(33, 117, 38, 0.49);
    filter: blur(745.5px);
}



/* media */
@media (max-width: 1240px) {
  /* адаптация под ноутбуки */
  .title{
    font-size: 70px;
    margin-left: 40px;
  }
  .fotoAbout img{
    height: 600px;
    width: 500px;
  }
  .fotoAbout{
    margin-left: 40px;
  }
  .textAbout{
    margin-right: 40px;
    font-size: 26px;
  }
}

@media (max-width: 1199px) {
  /* адаптация под ноутбуки */
}

@media (max-width: 991px) {
  /* планшеты */
}

@media (max-width: 767px) {
  /* телефоны */
}

@media (max-width: 480px) {
  /* очень маленькие телефоны */
}
