form{
    max-width: 624px;
    width: 100%;
    height: auto;
    padding: 28px;
    border-radius: 34px;
    background-color: #F6F6F6;
}
.name{
    width: 100%;
    max-width: 568px;
    max-height: 45px;
    min-height: 40px;
    margin-bottom: 40px;
}
.name, .email, .tel, textarea{
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #373434;
    background-color: #F6F6F6;
}
.email{
    margin-right: 4%;
}
.email, .tel{
    width: 48%;
    max-width: 276px;
    max-height: 45px;
    min-height: 40px;
    margin-bottom: 40px;
}
textarea{
    width: 100%;
    max-width: 568px;
    height: clamp(100px, 13vw, 171px);
    margin-bottom: 28px;
}
.btn{
    width: 100%;
    max-width: 568px;
    max-height: 45px;
    min-height: 40px;
    background-color: #299230;
    border-radius: 30px;
    border: none;
    color: #F6F6F6;
    font-size: 16px;
    cursor: pointer;
}
.subTitel{
    font-size: 14px;
    color: #3734344D;
    margin-top: clamp(40px, 7vw, 94px);
    text-align: center;
}
.subTitel a{
  text-decoration: none;
  color: #299230;
}
input::placeholder,
textarea::placeholder {
    font-size: 14px;
    font-weight: 400;
}


/* media */
@media (max-width: 1240px) {
  /* адаптация под ноутбуки */
  .subTitel{
    font-size: 12px;
    margin-top: 80px;
  }
}
@media (max-width: 850px) {
  form{
    padding-top: 80px;
    padding-bottom: 40px;
    max-width: none;
    height: 100%;
  }
    .subTitel{
    font-size: 12px;
    margin-top: 60px;
  }
  .name{
    max-width: none;
    max-height: none;
    height: clamp(36px, 7vw, 60px);
    margin-bottom: clamp(20px, 5vw, 43px);
  }
  .email, .tel{
    width: 48%;
    height: clamp(36px, 7vw, 60px);
    margin-bottom: clamp(20px, 5vw, 43px);
    max-height: none;
    max-width: none;
  }
  input::placeholder,
  textarea::placeholder{
    font-size: clamp(14px, 3.5vw, 30px);
  }
  textarea{
    height: clamp(106px, 23vw, 200px);
    max-width: none;
    margin-bottom: clamp(24px, 4.7vw, 40px);
  }
  .btn{
    max-width: none;
    max-height: none;
    min-height: 36px;
    height: clamp(36px, 7vw, 60px);
    font-size: clamp(16px, 2.8vw, 24px);
  }
}

@media (max-width: 620px) {
  /* адаптация под ноутбуки */
  .subTitel{
    margin-bottom: 20px;
    margin-top: 40px;
  }
  form{
    padding: 18px;
  }
}