.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 28px 0 28px;
    display: flex;
    justify-content: space-between;
}
.logo img{
    margin-top: 35px;
    margin-bottom: 24px;
    width: clamp(163px, 14vw, 191px);
    height: auto;
}
.nav ul{
    display: flex;
    gap: clamp(20px, 2.9vw, 38px);
    margin-top: 51px;
    margin-bottom: 50px;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: #373434;
    font-size: 18px;
    font-weight: 400;
}
.nav ul li:hover{
    font-size: 19px;
}

/* media */
@media (max-width: 850px){
  .container{
    display: none;
  }
}
