footer{
    margin: 0 auto;
    max-width: 1280px;
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 28px 28px 28px;
}
.icons{
  display: flex;
  align-items: center;
}
.mobile{
    height: 50px;
    width: 170px;  
    margin-left: 20px;
    cursor: pointer; 
}


/* media */
@media (max-width: 1240px) {
  /* адаптация под ноутбуки */
  .mobile{
    height: auto;
  }
}
@media (max-width: 700px) {
  .mobile{
    height: auto;
    width: 100px;
  }
  .whatsapp{
    height: auto;
    width: 25px;
  }
  .adresse{
    font-size: 16px;
  }
  .logo{
    height: auto;
    width: 100px;
  }
}
@media (max-width: 500px) {
  footer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 40px;
  }
  .adresse{
    font-size: 16px;
  }
  .logo{
    width: 140px;
  }
}